{% set collection_label %}{%- block collection_label -%}{%- endblock -%}{% endset %}
{% set collection_attributes %}{%- block collection_attributes -%}{%- endblock collection_attributes -%}{% endset %}
{% set collection_prototype %}{%- block collection_prototype -%}{%- endblock collection_prototype -%}{% endset %}
{% set collection_items %}{%- block collection_items -%}{%- endblock collection_items -%}{% endset %}

{%- set collection_item_footer -%}
    <div class="form__collection-item-footer">
        <a class="button js-collection-remove">
            {% trans %}lin3s_admin.form.remove{% endtrans %}
        </a>
    </div>
    <div class="form__collection-item-toggle">
        {% include '@Lin3sAdmin/svg/toggle.svg.twig' with {
            svgClass: 'form__collection-item-toggle-icon'
        } %}
    </div>
{%- endset -%}

{%- set collection_data_prototype -%}
    <div class="form__collection-item">
        {{- collection_prototype -}}
        {{- collection_item_footer -}}
    </div>
{%- endset -%}

{% macro render_collection_item(child) %}
    <div class="form__collection-item">
        {{- child|raw -}}
    </div>
{% endmacro %}

<div class="form__collection">
    {{- collection_label -}}
    <div class="form__collection-items"{% if attr %} {{ collection_attributes -}}{% endif %}
         data-prototype='{{- collection_data_prototype|raw -}}'>
        {{- collection_items -}}
    </div>
    <div class="form__collection-footer">
        <a class="button js-collection-add">{% trans %}lin3s_admin.form.add{% endtrans %}</a>
    </div>
</div>
