{% extends '@Lin3sAdmin/layout.html.twig' %}

{% block lin3s_admin_title %}
    {{ entityConfig.printNames.plural | trans }}
{% endblock %}

{% block lin3s_admin_actions %}
    {% for listGlobalAction in entityConfig.listGlobalActions %}
        {% set url = url('lin3s_admin_custom', {'entity': entityConfig.name, 'action': listGlobalAction.name}) %}
        {% set options = listGlobalAction.options | action_translation %}
        {% set actionName = options.confirm.title | capitalize %}

        {% if options.confirm is defined %}
            <div id="react-confirm-global-action"
                 data-url="{{ url }}"
                 data-message-button="{{ options.confirm.button }}"
                 data-message-title="{{ options.confirm.title }}"
                 data-message-content="{{ options.confirm.content | json_encode }}"
                 data-button-title="{{ actionName }}"
                 data-button-style="button button--secondary"></div>
        {% else %}
            <a href="{{ url }}" class="button button--secondary">{{ actionName }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block lin3s_admin_content_top %}
    {% include '@Lin3sAdmin/Admin/partials/list_filters.html.twig' %}
{% endblock %}

{% block lin3s_admin_content %}
    <div class="admin__batch-actions"></div>
    <div class="admin__list">
        {% include '@Lin3sAdmin/Admin/partials/list_table.html.twig' %}
        {% include '@Lin3sAdmin/Admin/partials/paginator.html.twig' with {
            currentPage: app.request.get('page') ?: 1,
            totalCount: totalCount,
            perPage: entityConfig.listEntitiesPerPage
        } %}
    </div>
    </div>
{% endblock %}
