{% extends 'LIN3SAdminBundle::layout.html.twig' %}

{% block lin3s_admin_actions %}
    <h1>{{ entityConfig.name | capitalize }}</h1>
    {% for listGlobalAction in entityConfig.listGlobalActions %}
        <a class="button small"
           href="{{ url('lin3s_admin_custom', {'entity': entityConfig.name, 'action': listGlobalAction.name }) }}">
            {{ listGlobalAction.name }}
        </a>
    {% endfor %}
{% endblock %}

{% block lin3s_admin_breadcrumb %}
    {#<a class="admin__breadcrumb link" href="{{ path('lin3s_admin_dashboard') }}">Admin</a>#}
    {#<span class="admin__breadcrumb">{{ entityConfig.name | capitalize }}</span>#}
{% endblock %}

{% block lin3s_admin_content_top %}
    {% include 'LIN3SAdminBundle:Admin/partials:list_filters.html.twig' %}
{% endblock %}

{% block lin3s_admin_content %}
    <div class="admin__batch-actions">
    </div>
    <div class="admin__list">
            {% include '@LIN3SAdmin/Admin/partials/list_table.html.twig' %}
            {% include '@LIN3SAdmin/Admin/partials/paginator.html.twig' with {
                currentPage: app.request.get('page') ?: 1,
                totalCount: totalCount,
                perPage: entityConfig.listEntitiesPerPage
            } %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lin3sadmin/js/filter.js') }}"></script>
{% endblock %}
