{% extends 'form_div_layout.html.twig' %}

{%- block collection_row -%}
    {% set form_label = block('form_label') %}
    {% set attributes = block('attributes') %}
    {% set children = form.children %}

    {% embed 'Lin3sAdminBundle:components:form_collection.html.twig' %}
        {%- block form_collection_label -%}
            {{- form_label|raw -}}
        {%- endblock form_collection_label -%}

        {%- block form_collection_attributes -%}
            {{- attributes -}}
        {%- endblock form_collection_attributes -%}

        {%- block form_collection_prototype -%}
            {{ form_widget(form.vars.prototype)|e }}
        {%- endblock form_collection_prototype -%}

        {%- block form_collection_items -%}
            {% import 'Lin3sAdminBundle:components:form_collection.html.twig' as form_collection %}

            {% for child in children %}
                {% set child %}
                    {{- form_row(child) -}}
                {% endset %}
                {{- form_collection.render_form_collection_item(child) -}}
            {% endfor %}
        {%- endblock form_collection_items -%}
    {% endembed %}
{%- endblock -%}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type  or 'textarea' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form__input')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block form_widget_compound -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form__textarea')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block choice_widget -%}
    {% if not form.vars.multiple %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form__select')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock choice_widget %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="form__group form__group--inline">
                {{- form_widget(child, {
                    attr: {
                        class: 'form__checkbox-input'
                    }
                }) -}}
                {{- form_label(child, null, {
                    label_attr: {
                        class: 'form__checkbox-label'
                    },
                    translation_domain: choice_translation_domain
                }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block checkbox_row %}
    <div class="form__group form__group--inline">
        {{- form_widget(form, {
            attr: {
                class: 'form__checkbox-input'
            }
        }) -}}
        {{- form_label(form, null, {
            label_attr: {
                class: 'form__checkbox-label'
            }
        }) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block form_row -%}
    {% if form.children | length == 0 %}
        <div class="form__group{% if form.vars.attr.class is defined %} {{ form.vars.attr.class }}{% endif %}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{%- endblock form_row %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form__label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form__errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors %}

{%- block form -%}
    {{- form_start(form) -}}

    {% set lin3s_admin_submit %}
        {{ block('lin3s_admin_submit') }}
    {% endset %}

    {% if form.vars.groups is defined %}
        <div class="form__column form__column--left">
            {% for group in form.vars.groups %}
                {% if group.position is not defined or group.position == 'left' %}
                    {{- block('lin3s_admin_panel') -}}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form__column form__column--right">
            {% embed 'Lin3sAdminBundle:components:form_sidebar.html.twig' %}
                {% block form_sidebar_content %}
                    {{- lin3s_admin_submit -}}
                    {% for group in form.vars.groups %}
                        {% if group.position is defined and group.position == 'right' %}
                            {{- block('lin3s_admin_panel') -}}
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    {% else %}
        {% embed 'Lin3sAdminBundle:components:panel.html.twig' %}
            {%- block panel_content -%}
                {{- form_widget(form) -}}
            {%- endblock panel_content -%}
        {% endembed %}

        {{- block('lin3s_admin_submit') -}}
    {% endif %}

    {{- form_end(form) -}}
{%- endblock form -%}

{%- block form_start -%}
    {%- set attr = attr|merge({
        class: (attr.class|default('') ~ ' form')|trim,
        novalidate: 'novalidate', 'data-parsley-validate': 'data-parsley-validate'
    }) -%}
    {{- parent() -}}
{%- endblock %}

{%- block lin3s_admin_panel -%}
    {% embed 'Lin3sAdminBundle:components:panel.html.twig' %}
        {%- block panel_title -%}
            {{- group.name|trans -}}
        {%- endblock panel_title -%}

        {%- block panel_content -%}
            {%- for field in group.fields %}
                {% set props = field|split('.') %}
                {% if props|length == 1 %}
                    {{- form_row(form[props[0]]) -}}
                {% elseif props|length == 2 %}
                    {{- form_row(form[props[0]][props[1]]) -}}
                {% endif %}
            {% endfor -%}
        {%- endblock panel_content -%}
    {% endembed %}
{%- endblock lin3s_admin_panel -%}

{%- block lin3s_admin_submit -%}
    {% embed 'Lin3sAdminBundle:components:panel.html.twig' %}
        {% import 'Lin3sAdminBundle:components/macros:buttons.html.twig' as buttons %}

        {%- block panel_title -%}
            {{- 'lin3s_admin.form.publish'|trans -}}
        {%- endblock panel_title -%}

        {%- block panel_content -%}
            <div class="form__group">
                <label>&nbsp;</label>
                {{ buttons.submit('lin3s_admin.form.save_changes'|trans) }}
            </div>
        {%- endblock panel_content -%}
    {% endembed %}
{%- endblock lin3s_admin_submit -%}
