{% use 'form_div_layout.html.twig' %}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type  or 'textarea' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form__input')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block form_widget_compound -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form__textarea')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block collection_row -%}
    <div class="form__collection">
        <div class="form__collection-items"
             data-prototype="<div class='form__collection-item'>{{ form_widget(form.vars.prototype)|e }}<div class='form__collection-item-footer'><button class='button js-collection-remove'>Remove</button></div></div>">
            {% for children in form.children %}
                <div class="form__collection-item">
                    {{ form_row(children) }}
                    <div class="form__collection-item-footer">
                        <button class='button js-collection-remove'>{% trans %}lin3s_admin.form.remove{% endtrans %}</button>
                    </div>
                    <div class="form__collection-item-toggle">
                        {% include '@Lin3sAdmin/svg/toggle.svg.twig' with {
                        svgClass: 'form__collection-item-toggle-icon'
                        } %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form__collection-footer">
            <button class="button js-collection-add">{% trans %}lin3s_admin.form.add{% endtrans %}</button>
        </div>
    </div>
{% endblock %}

{% block choice_widget -%}
    {% if not form.vars.multiple %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form__select')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock choice_widget %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="form__group form__group--inline">
                {{- form_widget(child, {
                    attr: {
                        class: 'form__checkbox-input'
                    }
                }) -}}
                {{- form_label(child, null, {
                    label_attr: {
                        class: 'form__checkbox-label'
                    },
                    translation_domain: choice_translation_domain
                }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block checkbox_row %}
    <div class="form__group form__group--inline">
        {{- form_widget(form, {
            attr: {
                class: 'form__checkbox-input'
            }
        }) -}}
        {{- form_label(form, null, {
            label_attr: {
                class: 'form__checkbox-label'
            }
        }) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block form_row -%}
    {% if form.children | length == 0 %}
        <div class="form__group{% if form.vars.attr.class is defined %} {{ form.vars.attr.class }}{% endif %}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{%- endblock form_row %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form__label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form__errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors %}

{%- block form -%}
    {{ form_start(form) }}
    {% if(form.vars.groups is defined) %}
        <div class="form__column form__column--left">
            {% for group in form.vars.groups %}
                {% if group.position is not defined or group.position == 'left' %}
                    {{ block('lin3s_admin_panel') }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form__column form__column--right">
            {{ block('lin3s_admin_submit') }}
            {% for group in form.vars.groups %}
                {% if group.position is defined and group.position == 'right' %}
                    {{ block('lin3s_admin_panel') }}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="panel">
            <div class="panel__content">
                {{- form_widget(form) -}}
                <input type="submit"
                       class="button"
                       value="{% trans %}lin3s_admin.form.save_changes{% endtrans %}">
            </div>
        </div>
        {{ block('lin3s_admin_submit') }}
    {% endif %}
    {{ form_end(form) }}
{%- endblock form -%}

{%- block form_start -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form')|trim, novalidate: 'novalidate'}) -%}
    {{- parent() -}}
{%- endblock %}

{% block lin3s_admin_panel %}
    <div class="panel">
        <div class="panel__header">
            <h2 class="panel__title">{{ group.name }}</h2>
        </div>
        <div class="panel__content">
            {% for field in group.fields %}
                {% set props = field | split('.') %}
                {% if props | length == 1 %}
                    {{ form_row(form[props[0]]) }}
                {% elseif props | length == 2 %}
                    {{ form_row(form[props[0]][props[1]]) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block lin3s_admin_submit %}
    <div class="panel">
        <div class="panel__header">
            <h2 class="panel__title">{% trans %}lin3s_admin.form.publish{% endtrans %}</h2>
        </div>
        <div class="panel__content">
            <div class="form__group">
                <label>&nbsp;</label>
                <input type="submit"
                       class="button button--secondary"
                       value="{% trans %}lin3s_admin.form.save_changes{% endtrans %}">
            </div>
        </div>
    </div>
{% endblock %}
