<table>
    <thead>
    {% if entityConfig.listBatchActions | length > 0 %}
        <th></th>
    {% endif %}
    {% for field in entityConfig.listFields %}
        <th>
            <a href="{{ filterPath(field.options.field, app.request.get('orderBy'), app.request.get('order')) }}"
               class="table__sortable
                {{ app.request.get('orderBy') == field.name ? ' table__sortable--selected'}}
                {{ app.request.get('orderBy') == field.name and app.request.get('order') == "DESC" ? ' table__sortable--desc' : ' table__sortable--asc' }}">
                {{ field.type.header(field.options, entityConfig) | raw }}</th>
            </a>
    {% endfor %}
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if entityConfig.listBatchActions | length > 0 %}
                <td>
                    <input type="checkbox"/>
                </td>
            {% endif %}
            {% block lin3s_admin_list_table_row_fields %}
                {% for field in entityConfig.listFields %}
                    <td>{{ field.type.render(entity, field.options, entityConfig) | raw }}</td>
                {% endfor %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>
